.container {
    display: grid;
    margin-top: 25px;
    margin-right: 40px;
    border: 5px solid black;
    background-color: white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}
.square {
    border: 1px solid black;  
}

.hover {
    border: 1px solid black;
    background-color: black;
}

.header {
    text-align: center;
    font-family: Sportsball, sans-serif;
}

.game {
    display: flex;
    justify-content: center;
}

body {
    background-color: antiquewhite;
}